/* @import url(./css/peppermint.css);
@import url(./css/raspberry.css); */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow-x: hidden;
}

.carousel {
  display: flex;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  max-width: 750px;
  min-height: 1334px;
}

.slide div {
  position: absolute;
}

.carousel .arrow {
  bottom: 230px;
  cursor: pointer;
}

.carousel .prev,
.carousel .next {
  position: absolute;
  z-index: 10;
  height: 451px;
  border: none;
  background: none;
  display: flex;
  align-items: center;
  transition: all 0.7s;
}

.carousel .prev:hover,
.carousel .next:hover {
  opacity: 1;
}

.carousel .prev {
  left: 60px;
}

.carousel .next {
  right: 60px;
}

.arrow{
  opacity: 0;

  animation: arrow 2s 3s forwards;
}
@keyframes arrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.new-peppermint {
  z-index: 5;
  left: 67px;
  top: -100px;

  animation-name: newBanner;
  animation-duration: 1s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
}
@keyframes newBanner {
  0% {
    top: -100px;
  }
  100% {
    top: 0px;
  }
}

.new{
  opacity: 0;

  animation: new 2s 2s forwards;
}
@keyframes new {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.tagline-back {
  z-index: 2;
  top: -600px;

  animation: taglineBack 1s 1s forwards;
}
@keyframes taglineBack {
  0% {
    top: -600px;
  }
  100% {
    top: 0px;
  }
}

.tagline {
  z-index: 3;
  left: 86px;
  top: 227px;
  opacity: 0;

  animation: tagline 1s 2s forwards;
}
@keyframes tagline {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.upper-tagline {
  z-index: 4;
  opacity: 0;

  animation: upper-tagline 1s 3s forwards;
}
@keyframes upper-tagline {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.product {
  z-index: 2;
  bottom: 230px;
  right: -500px;
  /* left: 50%; */
  /* transform: translateX(-50%); */

  animation: product 1s 1s forwards;
}
@keyframes product {
  0% {
    right: -500px;
  }
  100% {
    right: 137px;
  }
}

.shop {
  position: absolute;
  z-index: 2;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;

  animation: shop 2s 4s forwards;
}
@keyframes shop {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

